DATABASE_URL="postgresql://postgres:secretkey@localhost:5432/super_auth"

POSTGRES_USER=postgres
POSTGRES_PASS=secretkey
POSTGRES_DB=super_auth

SMTP_USER= your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

REDIS_HOST=your_redis_host
REDIS_PORT=6379